/* @charset "utf-8";
h2 {
    color:red;
    font-size: 1.5;
}
#news {color:blue;}
/* .box {padding-left: 200px;} */
.welcomestatement{
    font-size: 2em;
}
.introduction{
    font-size: 1.2em;
} 
.item-list .item{
    display: inline-block;
    margin:0 10px;
}
figure {
    display: table;
    width: 60px; /* minimum width */
    *width: auto; /* for IE7 and below */
}